.github-fork-ribbon.right-bottom:before {
  background-color: #222
}

*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}

/* 顶部导航去掉圆角 */
#TopNav {
  border-radius: 0;
}

body {
  font-size: 16px !important;
}


/* 前端创作编辑器
-------------------------------------------------- */
.stage-title {
  background-color: white;
  border-bottom: #f8f8f8 2px solid;
  padding:20px;
  text-align: center;
}
.stage-title-input {
  margin-bottom: 1rem;
}
.editor-wrap {
  background-color: #f5f5f5;
  padding: 2rem;
  border-radius: 10px;
}
.editor-content {
  background-color:white;
  padding: 2rem 0;
}

.ce-block__content,
.ce-toolbar__content {
     /* max-width: calc(100% - 80px) !important; */
    max-width: 90%;
}
.ce-block__content {
    position: relative;
    text-align: justify;
    text-justify: inter-word;
}


/* Avatar
-------------------------------------------------- */
.menu-avatar {
  margin: 1rem auto !important;
}

#MaturityProgress {
  margin: 0 !important;
}

.font-small {
  font-size: small;
}